---
import mwFaceBlue from '../../assets/images/characters/mw-face-blue.png'
import dave from '../../assets/images/characters/dave.png'
import lenguaMNW from '../../assets/images/characters/lengua-mnw.png'
import mnwDistorcion from '../../assets/images/characters/mnw-distorcion.png'
import mnwSurf from '../../assets/images/characters/el-moonwave-the-new-wave.png'
import patoJuan from '../../assets/images/characters/pato-juan-de-lado.png'
---

<section class="bg-[#F6EBD3]">
    <div class="flex gap-10 text-white bg-black text-4xl items-center py-3">
        <img class="w-14 ml-8" src={mwFaceBlue.src} alt="">
        <h2>EVOLUCION</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>ARTESANAL</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>ONRICO</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>EVOLUCION</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>ARTESANAL</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>ONRICO</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>EVOLUCION</h2>
    </div>
    <div class="flex gap-10 text-9xl mt-5 items-center justify-center">
        <h1 class="">UNA</h1>
        <img class="w-1/12" src={dave.src} alt="">
        <h1 class="">NUEVA</h1>
        <img class="w-1/12" src={lenguaMNW.src} alt="">
        <h1 class="">HISTORIA</h1>
        <img class="w-1/12" src={mnwDistorcion.src} alt="">
        <h1 class="">ESTA</h1>
    </div>
    <div class="flex gap-10 text-9xl mb-5 items-center justify-center">
        <h1 class="">POR</h1>
        <img class="w-1/12" src={mnwSurf.src} alt="">
        <h1 class="">COMENZAR</h1>
        <img class="w-1/12" src={patoJuan.src} alt="">
        <h1 class="">5/3/2025</h1>
        <img class="w-1/12" src={mnwDistorcion.src} alt="">
    </div>
    <div class="flex gap-10 text-white bg-black text-4xl items-center py-3">
        <img class="w-14 ml-8" src={mwFaceBlue.src} alt="">
        <h2>EVOLUCION</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>ARTESANAL</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>ONRICO</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>EVOLUCION</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>ARTESANAL</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>ONRICO</h2>
        <img class="w-14" src={mwFaceBlue.src} alt="">
        <h2>EVOLUCION</h2>
    </div>
</section>